<!-- Navigation-->
<nav class="navbar navbar-expand-lg  " style="background-color:rgb(30, 156, 156)" >
    <div class="container px-4 px-lg-5">
        <a style="color: white;" class="navbar-brand" routerLink="">
             <i class="fa-solid fa-cart-shopping fa-beat-fade"></i> 
             E-Kart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
 <!-- search input -->
 <div class="col-3">
    <input (keyup)="search($event)" type="text" class="form-control" placeholder="search your product">
    </div>

    <div class="col-4"></div>



    <div class="col-4">


            <form class="d-flex ">

               
<!-- wishlist -->
                <button routerLink="products/wishlist" class="btn btn-outline-light me-4" type="submit">
                    <i class="fa-solid fa-star fa-spin-pulse"></i>
                    wishlist
                </button>

                <!-- cart -->
                <button routerLink="products/cart" class="btn btn-outline-light " type="submit">
                    <i class="fa-sharp fa-solid fa-cart-plus fa-flip"></i>
                    cart
                    <span class="badge bg-light ms-1 rounded-pill text-danger">{{cartItemsCount}}</span>
                </button>

            </form>
        </div>
        </div>
    </div>

</nav>

<!-- nav bar end -->
<hr>



